<footer>
    <div class="footer-top">
        <div class="site-logo">
            <img src="../../../../../assets/images/resources/logo.svg" alt="">
        </div>
        <div class="contact-site">
            <div class="phone">
                <span>+503 7532-4715</span>
            </div>
            <div class="email">
                <a href="#">ahorasoysegundo@gmail.com</a>
            </div>
            <div class="social-network">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/assets/images/resources/header/github.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/assets/images/resources/header/twitter.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/assets/images/resources/header/linkedin.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="develop">
            Diseñado y desarrollado por <span>Kevin Aquino</span>
        </div>
    </div>
</footer>