.cv-contacts {
    .contact {
        width: 100%;
        .body {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 10px;

            .form {
                background: var(--cv-bg-darkMode2);
                padding: 2rem;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                box-sizing: border-box;

                .all {
                    grid-column: 1/3;
                }
            }

            .image-contact {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 80%;
                }
            }
        }
    }
    @media screen and(max-width: 1024px) {
        .contact {
            width: 100%;
            .body {
                display: block;
                padding-bottom: 5rem;
                .form {
                    margin: 1rem;
                    .all {
                        grid-column: 1/3;
                    }
                }
                .image-contact {
                    display: none;
                }
            }
        }
    }
    @media screen and(max-width: 1024px) {
        .contact {
            .body {
                .form {
                    display: block;
                    .input-custom,
                    button {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
