<header>
    <div class="icon-web">
        <img src="../../../../assets/images/resources/logo.svg" alt="logo-web">
    </div>
    <nav>
        <ul>
            <li>
                <div class="item-menu">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
                    <div class="hover-selected"></div>
                </div>
            </li>
            <li>
                <div class="item-menu">
                    <a [routerLink]="['about']" routerLinkActive="router-link-active">About</a>
                    <div class="hover-selected"></div>
                </div>
            </li>
            <li>
                <div class="item-menu">
                    <a [routerLink]="['technologies']" routerLinkActive="router-link-active">Tech Stack</a>
                    <div class="hover-selected"></div>
                </div>
            </li>
            <li>
                <div class="item-menu">
                    <a [routerLink]="['projects']" routerLinkActive="router-link-active">Projects</a>
                    <div class="hover-selected"></div>
                </div>
            </li>
            <li>
                <div class="item-menu">
                    <a [routerLink]="['contact']" routerLinkActive="router-link-active">Contact</a>
                    <div class="hover-selected"></div>
                </div>
            </li>
            <li>
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            <img src="../../../../assets/images/resources/header/github.svg" alt="icon-github">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="../../../../assets/images/resources/header/twitter.svg" alt="icon-twitter">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="../../../../assets/images/resources/header/linkedin.svg" alt="icon-LinkedIn">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</header>