<div class="cv-home">
    <div class="my-profil">
        <div class="description">
            <div class="greeting">
                <h1>
                    <span>HOLA ,</span>
                    <span>MI NOMBRE ES</span>
                    <span> KEVIN AQUINO</span>
                    <span>Y SOY DESARROLLADOR WEB</span>
                </h1>
            </div>
        </div>
        <div class="avatar">
            <div class="gradient-box">
                <div class="img-avatar"></div>
            </div>
        </div>
    </div>
</div>