<div class="container | cv-home cv-container-page" @fadeInOnEnter>
    <div class="my-profil">
        <div class="columns">
            <div class="description column">
                <div class="greeting">
                    <h1>
                        <span>HOLA 👋 ,</span>
                        <span>MI NOMBRE ES</span>
                        <span class="my-name">KEVIN AQUINO</span>
                        <span>Y CONSTRUYO SITIOS WEB DINÁMICOS</span>
                    </h1>
                </div>
            </div>
            <div class="avatar column">
                <a [routerLink]="['/']">
                    <div class="gradient-box">
                        <div class="img-avatar"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="my-tach-stack">
        <app-header-title
            [position]="'center'"
            [title]="'Tecnologías'"
            [subTitle]="
                'Para problemas complejos, herramientas funcionales y ágiles'
            "
        ></app-header-title>
        <app-tech-stack></app-tech-stack>
    </div>
    <div class="my-projects">
        <app-header-title
            [position]="'center'"
            [title]="'Proyectos'"
            [subTitle]="
                'Los proyectos desarrollados en coordinación grupal e individual'
            "
        >
        </app-header-title>
        <div class="projects">
            <app-project-stack></app-project-stack>
        </div>
    </div>
</div>
