.cv-header-title {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    color: var(--cv-bg-white);
    h2 {
        font-size: 5rem;
        font-family: "DMSans-Bold";
    }
    h3 {
        font-size: 2rem;
        font-family: "DMSans-Regular";
        font-weight: 100;
    }

    @media screen and(max-width: 1024px) {
        h2 {
            font-size: 3rem;
            line-height: 50px;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}
