.btn {
  border: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  font-family: "DMSans-Medium";
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-lightBlue{
  background: var(--cv-bg-lightBlue);
  color: var(--cv-bg-darkMode2);
}
