.cv-up-button {
    position: fixed;
    bottom: -10vh;
    right: 5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--cv-bg-lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    box-shadow: var(--cv-bs-lightBlue);
    z-index: 9;
    i {
        color: var(--cv-bg-white);
    }

    &:hover {
        background: var(--cv-bg-pink);
        box-shadow: var(--cv-bs-pink);
        transition: 0.8s;
        cursor: pointer;
    }

    @media screen and(max-width: 1024px) {
        right: 2rem;
    }
}
