.cv-tech-stack {
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        .tech-stack {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            img {
                width: 100px;
            }
        }
    }

    @media screen and(max-width:1024px) {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        .item {
            width: 100%;
            a {
                img {
                    width: 60px;
                }
            }
        }
    }
    @media screen and(max-width:460px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
