<div class="cv-project-stack">
    <div class="item-card">
        <div class="card">
            <div class="card-header">
                <a href="">
                    <img src="../../../../../assets/images/resources/projects/mundoterrenos.png" alt="">
                </a>
            </div>
            <div class="card-body">
                <div class="title">
                    <h4>Nombre del proyecto</h4>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, ea officiis tenetur sunt
                        obcaecati rerum quidem iusto sapiente perspiciatis amet asperiores minus dolores labore illo
                        sed? Voluptas ipsam molestiae nulla?
                    </p>
                </div>
                <div class="preview">
                    <span>Tecnologías: </span>
                    <span>Tecnologías</span>
                </div>
            </div>
        </div>
    </div>
</div>